.first-entry {
    margin-top: 1rem !important;
}

.first-entry .entry-header h1,
.first-entry .entry-header h2 {
    font-size: 2rem !important;
    line-height: 1.2 !important;
}

.post-entry {
    margin-bottom: 1rem !important;
}
