article {
    margin-top: 0 !important;
}

.first-entry,
article.post-entry {
    padding: 10px !important;
}

.entry-header h2 {
    font-size: 1.1rem !important;
    font-weight: 500 !important;
    margin: 0 !important;
}

.post-content h2 {
    margin-bottom: 10px !important;
}

.first-entry {
    min-height: auto !important;
}
